<!DOCTYPE html>
<html>
  <head>
    <!-- Document metadata -->
    <meta charset='utf-8' />
    <title>Login Accounts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'accounts/style1.css' %}" type="text/css" />
  </head>
  <body>
    <!-- Document content -->
    <div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-4">Daily Todo List</h1>
    <p class="lead">Enter in your daily and weekly todo's and delete them when you completed them.</p>
  </div>
</div>

<div class="input-group">
  <input type="text" class="form-control" aria-label="Text input">
  <button type="button" class="btn btn-success">Add Todo</button>
  <button type="button" class="btn btn-danger">Delete Todo</button>
</div>

<div class="input-group">
  <input type="text" class="form-control" aria-label="Text input">
  <button type="button" class="btn btn-success">Add Todo</button>
  <button type="button" class="btn btn-danger">Delete Todo</button>
</div>

<div class="input-group">
  <input type="text" class="form-control" aria-label="Text input">
  <button type="button" class="btn btn-success">Add Todo</button>
  <button type="button" class="btn btn-danger">Delete Todo</button>
</div>

<div class="input-group">
  <input type="text" class="form-control" aria-label="Text input">
  <button type="button" class="btn btn-success">Add Todo</button>
  <button type="button" class="btn btn-danger">Delete Todo</button>
</div>






      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
